
canvas {
    background-image: url("./background.jpg");
    margin-top: 0px;
}

body {
    margin: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.directions {
    margin-top: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 1em;
}